
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Mulish:wght@300;400&display=swap');

.room-name {
    background-color: #9d8fa7;
    color: white;
    font-family: Mulish, Arial;
    padding: 1rem;
    border-radius: 15px;
    max-width: 20rem;
    text-align: center;
    margin-left: 1.5rem;
}

.room-name:hover {
    background-color: #9787a2;
    cursor: pointer;
}

.roomContainer {
    padding: .4rem;
    display: flex;
    align-self: center;
    align-items: center;
    min-width: 25rem;
}

@media (max-width: 905px) {

   .roomContainer {
    min-width: 16rem;
    }

    .room-name {
        margin-left: 0;
    }

}

@media (max-width: 760px) {

    .roomContainer {
     min-width: 12rem;
     }
 
 }

 @media (max-width: 520px) {

    .roomContainer {
        margin-left: 2rem;
    }
    .room-name {
       padding: .5;
       margin: 0;
       width: 100px;
    }

    p {
        font-size: 13px;
        margin: 0;
        padding: 0;
    }

 }